Listen *:{{sslPort}}
<VirtualHost *:{{sslPort}}>
  ServerName {{sslHostname}}
  DocumentRoot "/home/{{user}}/public_html/public"

  SSLEngine on
  SSLCipherSuite AES256+EECDH:AES256+EDH
  SSLProtocol All -SSLv2 -SSLv3
  SSLHonorCipherOrder On
  SSLCompression off
  SSLCertificateFile /etc/pki/tls/certs/{{sslHostname}}.cert
  SSLCertificateKeyFile /etc/pki/tls/private/{{sslHostname}}.key
  SSLCACertificateFile /etc/pki/tls/certs/{{sslHostname}}-ca.pem

  <Directory "/home/{{user}}/public_html/public">
    AllowOverride All
    Require all granted
    Options Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

</VirtualHost>
